.icon {
  display: inline-block;

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon.small {
  width: 20px;
  height: 20px;
}

.icon.big {
  width: 80px;
  height: 80px;
}

.icon.of-download {
  background-image: url("../img/icon-of-download.svg");
}

.icon.of-github {
  background-image: url("../img/icon-of-github.svg");
}

.icon.of-twitter {
  background-image: url("../img/icon-of-twitter.svg");
}

.icon.of-double-tap {
  background-image: url("../img/icon-of-double-tap.svg");
}

.icon.of-orientation-change {
  background-image: url("../img/icon-of-orientation-change.svg");
}

.icon.of-tap {
  background-image: url("../img/icon-of-tap.svg");
}

.icon.of-directions {
  background-image: url("../img/icon-of-directions.svg");
}

.icon.of-scrolling {
  background-image: url("../img/icon-of-scrolling.svg");
}

@media only screen and (min-width : 768px) {
  .icon {
    width: 54px;
    height: 54px;
  }

  .icon.small {
    width: 26px;
    height: 26px;
  }

  .icon.big {
    width: 86px;
    height: 86px;
  }
}

@media only screen and (min-width : 1824px) {
  .icon {
    width: 60px;
    height: 60px;
  }

  .icon.small {
    width: 32px;
    height: 32px;
  }

  .icon.big {
    width: 92px;
    height: 92px;
  }
}
