/*Common definitions(begin)*/
@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('fonts/pfhighwaysanspro-regular-webfont.eot');
    src: url('fonts/pfhighwaysanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/pfhighwaysanspro-regular-webfont.svg#pf_highway_sans_proregular') format('svg'),
    url('fonts/pfhighwaysanspro-regular-webfont.woff') format('woff'),
    url('fonts/pfhighwaysanspro-regular-webfont.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('fonts/pfhighwaysanspro-black-webfont.eot');
    src: url('fonts/pfhighwaysanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/pfhighwaysanspro-black-webfont.svg#pf_highway_sans_pro_blackRg') format('svg'),
    url('fonts/pfhighwaysanspro-black-webfont.woff') format('woff'),
    url('fonts/pfhighwaysanspro-black-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    font-family: 'PF Highway Sans Pro', sans;
    font-size: 0.625em;

    color: #4f4c4c;
}

body.blue{
    background: #f0f9fd url(../i/blue-grad.png) center repeat-y;
}

body.red{
    background: #fef7f5 url(../i/red-grad.png) center repeat-y;
}

body.pink{
    background: #fdf8fb url(../i/pink-grad.png) center repeat-y;
}

body.green{
    background: #f7fdf7 url(../i/green-grad.png) center repeat-y;
}

a{
    color: #4f4c4c;
}

a:hover{
    text-decoration: none;
}

a img{
    border: none;
}
/*Common definitions(end)*/




/*Projects buttons(begin)*/
.proj_buttons{
    position: absolute;
    left: 2.5em;
    top: 2em;
}

    .proj_buttons-button{
        display: inline-block;

        width: 3em;
        height: 3em;
        margin-left: 0.8em;

        vertical-align: middle;
        text-align: center;

        border-radius: 3em;
        background: #fff;
        border: 2px solid #c3c3c3;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .proj_buttons-button img{
            height: 1.7em;
            margin-top: 0.6em;

            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

    .proj_buttons-button:first-child{
        margin-left: 0;
    }

    .proj_buttons-button:hover{
        width: 3.5em;
        height: 3.5em;
    }

        .proj_buttons-button:hover img{
            height: 2.2em;
        }

    .proj_buttons-button.current{
        width: 3.5em;
        height: 3.5em;

        background: #fff;
    }

        .proj_buttons-button.current img{
            height: 2.2em;
        }
/*Projects buttons(end)*/




/*Main(begin)*/
.main{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 80em;
    margin-left: -42em;
    margin-top: -16em;

}

    .main-layout{
        width: 100%;
        height: 100%;
    }

        .main-layout-left{
            vertical-align: middle;
        }

        .main-layout-right_top{
            width: 30em;

            vertical-align: top;
        }

        .main-layout-right_bottom{
            width: 30em;

            vertical-align: bottom;
        }
/*Main(end)*/

/*Logo(begin)*/
.logo{
    width: 475px;
}
/*Logo(end)*/

/*About(begin)*/
.about{
    display: block;

    margin-bottom: 1em;

    text-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.2);
}

    .about span{
        font-size: 1.6em;
    }
/*About(end)*/

/*Form(begin)*/
.form{}

    .form input{
        font-size: 1.6em;
        font-style: italic;

        width: 15em;
        padding: 0.6em 0.5em;
        margin-bottom: 0.6em;

        outline: none;
        border: none;
        border-radius: 0.75em;
        border: 1px solid #b4b4b4;
        box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
    }

    .form input.invalid{
        border: 1px solid #ef3b1e;
        background: #ffcab8;
    }

    .form input.placeholder{
        color: gray;
    }

    .form button{
        font-size: 1.6em;
        font-family: 'PF Highway Sans Pro';

        width: 16em;
        height: 1.75em;

        cursor: pointer;

        color: #ffffff;
        border: none;
        border-radius: 0.45em;
        background: #a0a0a0;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYTBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YzhjOGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(top,  #a0a0a0 0%, #8c8c8c 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#8c8c8c));
        background-image: -webkit-linear-gradient(top,  #a0a0a0 0%,#8c8c8c 100%);
        background-image: -o-linear-gradient(top,  #a0a0a0 0%,#8c8c8c 100%);
        background-image: -ms-linear-gradient(top,  #a0a0a0 0%,#8c8c8c 100%);
        background-image: linear-gradient(to bottom,  #a0a0a0 0%,#8c8c8c 100%);
        box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15);
    }

    .form button:hover{
        background: #969696;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5Njk2OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOGM4YzhjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-radial-gradient(center, ellipse cover, #969696 0%, #8c8c8c 100%);
        background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#969696), color-stop(100%,#8c8c8c));
        background-image: -webkit-radial-gradient(center, ellipse cover, #969696 0%,#8c8c8c 100%);
        background-image: -o-radial-gradient(center, ellipse cover, #969696 0%,#8c8c8c 100%);
        background-image: -ms-radial-gradient(center, ellipse cover, #969696 0%,#8c8c8c 100%);
        background-image: radial-gradient(ellipse at center, #969696 0%,#8c8c8c 100%);
        box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
    }

    .form button:active{
        background: #8c8c8c;
        box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.05);
    }

    .form-success{
        display: none;

        text-align: center;

        background: #fff;
        border: 1px solid #b4b4b4;
        border-radius: 1.2em;
        box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.2);
    }

        .form-success span{
            font-size: 2em;
        }

    .form-loader{
        display: none;

        text-align: center;
    }
/*From(end)*/




/*Copyright(begin)*/
.cr{
    position: absolute;
    bottom: 1.5em;
    right: 2em;

    text-decoration: none;
}
    .cr-img{
        height: 2em;
        margin-right: 0.4em;

        vertical-align: middle;
    }

    .cr-text{
        font-size: 1.4em;

        text-decoration: underline;
        vertical-align: middle;
    }

.cr:hover{}

    .cr:hover .cr-text{
        text-decoration: none;
    }
/*Copyright(end)*/