h1 { margin: 0 0 0 0; }
h2 { margin: 50px 0 0 0; }

h1 {
    font-size: 13em;
    font-style: italic;
}
h2 { font-size: 4em; }
h3 { font-size: 2.6em; }

.article {
    padding: 1px 0;
    margin-bottom: 100em;

    text-align: center;
}

.article-row.fixed {
    min-height: 450em;
}

.article p {
    font-size: 2em;

    margin: 0;
}

.btn { min-width: 15em; }
.btn span { font-size: 2em; }

.nav { left: 0; }
.nav.opened {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translate(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.nav_toggle { display: none; }

.main { padding-left: 20em; }
.main.shifted { left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translate(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.preview_img {
    width: 108em;
    height: 69.1em;
    margin: auto;

    background: url('../img/view.png') no-repeat center;
}

.browsers_img {
    width: 96em;
    height: 34.2em;

    background: url('../img/crossbrowser.png') no-repeat center;
}